name: Cron-Job-For-Allocate-Parking
on:
  workflow_dispatch:
  schedule:
    - cron: "10 16 * * *"
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: daily-allocate-parking
        run: |
          curl --request POST \
          --url 'https://office-space-kohl.vercel.app/api/allocate-parking' \
          --header `authorization: ${{ secrets.ACTION_KEY }}`
